.homepage-container {
  margin: 50px 0 40px;
}

.reserve-container {
  display: flex;
  width: 90%;
  margin-bottom: 20px;
}

.text-container {
  width: 50%;
}

.text-container {
  font-size: 1.3rem;
}

.text-container h4 {
  margin-bottom: 10px;
}

.homepage-button {
  padding: 10px;
  margin-top: 10px;
  font-weight: 600;
  font-size: .9rem;
  background-color: #f4ce14;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}

.text-container h1 {
  font-size: 2rem;
  color:#c3a510;
  font-weight: 700;
}

.image-container img {
  height: 250px;
  width: 220px;
  border-radius: 10px;
  position: relative;
  top: 30px;
}

.specials-header {
  text-align: center;
  margin: 50px 0 40px;
  display: flex;
  justify-content: space-between;
}

.specials-container {
  margin: 20px 0;
  width: 90%;
  margin: auto;
}

.specials-card-container {
  display: flex;
  width: 90%;
  padding: 0 10%;
}

.card-container {
  width: 30%;
  margin: auto;
  background-color: #edefee;
}

.card-img {
  width: 100%;
}

.card-container h4 {
  font-size: 1.4rem;
  margin: 10px 0;
  padding: 0 20px;
}

.card-container p {
  font-size: 1.1rem;
  /* margin: 10px; */
  padding : 30px 20px;
}



